<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- CORS -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-API-KEY, X-Requested-With" />
      </customHeaders>
    </httpProtocol>

    <!-- Erros detalhados -->
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    
    <!-- Ativa ASP clássico -->
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
</configuration>
